<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Main Page</h1>

    <h2>Register here!</h2>
    <a href="{{ url_for('register') }}">Register here: </a>

    {% if logged_in %}
        <h1>Welcome {{ username }}</h1>
        <p>You login</p>
        <a href="{{ url_for('logout_function') }}">Close session</a>
    {% else %}
        <p>If you have an account, do <a href="{{ url_for('login') }}">login</a> </p>
    {% endif %}
    <h3>Add a film! </h3>
    <a href="{{ url_for('add_films') }}">Add the film here:</a>
</body>
</html>